@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat";
    background-color: #f78fb3;
}

.heading {
    text-transform: uppercase;
    font-size: 40px;
    margin: 20px;
    color: #f6e7ec;
    font-weight: 475;
    z-index: 1;
}